@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

body{
	color:black;
	margin: 0 auto;
	font-family: 'Kosugi', sans-serif;
	background-color: paleturquoise;
}

#wrapper {
	display: grid;
	margin: 0 auto;
	width: 1024px;
	grid-template-columns: 1fr 1fr 0.75fr;
	grid-template-rows:
		128px
		1fr
		128px;
	grid-template-areas:
		"h h h"
		"m m n"
		"f f f";
}

header {
	grid-area: h;
	background-color: greenyellow;
	font-size: 3em;
	vertical-align: center;
	display: flex;
	align-items: center;
	padding-left: 0.5em;
	color: white;
	
}
main {
	grid-area: m;
	background-color: lavender;
	font-size: 1em;
	min-height: 20em;
}
nav {
	grid-area: n;
	background-color: tomato;
}
footer {
	grid-area: f;
	background-color: #007bbb;
	color: white;
}

main, nav, footer {
	padding:  1em;
}

.contents {
	border-radius: 20px;
}

footer > a {
	color: white;
}

main > h2{
	color: green;
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

	margin: 1em 0;
	padding: 0.6em 1em;
	font-size: 1em;
	background-color: #1aa1ff;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	transition: 0.3s;
	border-color: grey;
	position: relative;
	box-shadow: 0 4px 0 grey;

}

button:hover {
	background-color: #064fda;
}

button:active {
	top: 4px;
	box-shadow: none;
}