@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

body{
	color:black;
	margin: 0 auto;
	font-family: 'Kosugi', sans-serif;
	background-color: paleturquoise;
}

#wrapper {
	display: grid;
	margin: 0 auto;
	width: 1024px;
	grid-template-columns: 1fr 1fr 0.75fr;
	grid-template-rows:
		128px
		512px
		128px;
	grid-template-areas:
		"h h h"
		"m m n"
		"f f f";
}

header {
	grid-area: h;
	background-color: greenyellow;
	font-size: 3em;
	vertical-align: center;
	display: flex;
	align-items: center;
	padding-left: 0.5em;
	color: white;
}
main {
	grid-area: m;
	background-color: lavender;
	font-size: 1em;
}
nav {
	grid-area: n;
	background-color: tomato;
}
footer {
	grid-area: f;
	background-color: #007bbb;
	color: white;
}

main, nav, footer {
	padding:  1em;
}

.contents {
	border-radius: 20px;
}

footer > a {
	color: white;
}


