@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

body{
	color:black;
	margin: 0 auto;
	font-family: 'Kosugi', sans-serif;
	background-color: paleturquoise;
}
@media screen and (min-width: 800px){
	#wrapper {
		display: grid;
		margin: 0 auto;
		width: 1024px;
		grid-template-columns: 1fr 1fr 0.75fr;
		grid-template-rows:
			128px
			1fr
			128px;
		grid-template-areas:
			"h h h"
			"m m n"
			"f f f";
	}
}

header {
	grid-area: h;
	background-color: greenyellow;
	font-size: 3em;
	vertical-align: center;
	display: flex;
	align-items: center;
	padding-left: 0.5em;
	color: white;
}
main {
	grid-area: m;
	background-color: lavender;
	font-size: 1em;
	min-height: 20em;
}
nav {
	grid-area: n;
	background-color: tomato;
	font-size: 1.5em;
}
footer {
	grid-area: f;
	background-color: #007bbb;
	color: white;
}

main, nav, footer {
	padding:  1em;
}

.contents {
	border-radius: 20px;
}

footer > a {
	color: white;
}

main > h2{
	color: green;
}

main > div h2{
	text-shadow: 0.08em 0.08em 0.08em grey;
}
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

	margin: 1em 0;
	padding: 0.6em 1em;
	font-size: 1em;
	background-color: #1aa1ff;
	color: white;
	cursor: pointer;
	border-radius: 3px;
	border: none;
	transition: 0.3s;
	border-color: grey;
	position: relative;
	box-shadow: 0 4px 0 grey;

}

button:hover {
	background-color: #064fda;
}

button:active {
	top: 4px;
	box-shadow: none;
}

@media screen and (min-width: 800px){
	.blog{
  	display: grid;
		margin: 0 auto;
		width: 1024px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows:
			128px
			1fr
			128px;
		grid-template-areas:
			"h h h"
			"m m m"
			"f f f";

	}
}

.main_window{
	background-color: white;
	border-radius: 12px;
	text-align: left;
	padding: var(-window-padding);
	transition: 3s;
	font-size: 1em;
}

#blog_main{
	background-color: whitesmoke;
	border-radius: 12px;
	padding: 1em;
}
